@import "tailwindcss";

@theme {
  --color-neutral-950: #14120b;
  --color-neutral-900: #1c1910;
  --color-neutral-800: #292417;
  --color-neutral-700: #3d3623;
  --color-neutral-600: #574c31;
  --color-neutral-500: #756743;
  --color-neutral-400: #9e8e63;
  --color-neutral-300: #c2b593;
  --color-neutral-200: #e0d7c1;
  --color-neutral-100: #f2efe6;
  --color-neutral-50:  #faf9f5;
  --font-sans: var(--font-lato);

  /* New Theme Colors */
  --color-red-500: #fb2c36;
  --color-red-600: #e40014;
  --color-green-50: #f0fdf4;
  --color-green-500: #00c758;
  --color-green-600: #00a544;
  --color-green-800: #016630;
  --color-green-900: #0d542b;
  --color-blue-50: #eff6ff;
  --color-blue-600: #155dfc;
  --color-blue-800: #193cb8;
  --color-blue-900: #1c398e;
  --color-purple-400: #c07eff;
  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5dc;
  --color-gray-500: #6a7282;
  --color-gray-600: #4a5565;
  --color-gray-700: #364153;
  --color-gray-800: #1e2939;
  --color-gray-900: #101828;
  --color-black: #000;
  --color-white: #fff; 
  --color-theme-bg: #14120b;
  --color-theme-fg: #edecec;
  --color-theme-fg-02: #d7d6d5;
  --color-theme-card-hex: #1b1913;
  --color-theme-card-rgb: 27 29 39;
  --color-theme-card-01-hex: #1d1b15;
  --color-theme-card-02-hex: #201e18;
  --color-theme-card-03-hex: #26241e;
  --color-theme-card-04-hex: #2b2923;
  --color-theme-card-hover-hex: #201e18;
  --color-theme-card-hover-light-hex: #1d1b15;
  --color-theme-card-warm-hex: #1c1713; 
  --color-theme-product-text: #26251eeb;
}

body {
  background-color: var(--color-theme-bg);
  color: var(--color-theme-fg);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background: #f59e0b; /* amber-500 */
  color: #14120b;
}

* {
  border-color: var(--color-neutral-800);
}